.grid-pane {
    -fx-background-color: linear-gradient(#233c40, #304e4e);
    -fx-background-insets: 0;
}
.skin-pane {
    -fx-background-color: #323232;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 20, 0, 8, 8);
}
.back-button {
    -fx-background-color: #00f9ff;
    -fx-background-radius: 50;
    -fx-padding: 5;
    -fx-background-image: url('arrow1.png');
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.back-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 20, 0.5, 0, 0);
    -fx-cursor: hand;
}
.ok-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 20, 0.5, 0, 0);
    -fx-cursor: hand;
}
.coins-label{
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-pref-width: 100;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-alignment: center-right;
}
.main-label{
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #00f9ff, 10, 0, 0, 0);
}
.button {
    -fx-text-fill: #25363b;
    -fx-background-color: #00f9ff;
    -fx-font-family: Verdana;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 20, 0, 5, 5);
}
.buy:hover, .pick:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 20, 0.5, 0, 0);
    -fx-cursor: hand;
}
.buy {
    -fx-background-color: #a4e0e0;
}
.pick {
    -fx-background-color: #00f9ff;
}
.picked {
    -fx-background-color: #6d9c9c;
}
.price-label{
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.img-pane{
    -fx-background-color: white;
}